.CovidData {
  margin: 15px 0;
  border-radius: 0 0 20px 20px;
  text-align: center;
  box-sizing: border-box;
  box-shadow: 5px 5px 10px 4px #ccc;
  width: 180px;
  height: 200px;
  padding-bottom: 10px;
  background-color: white;
}

.Head {
  padding: 10px 0;
  margin: 0;
  background-color: rgb(146, 91, 235);
  color: white;
  width: 100%;
  font-size: 1.2em;
}

.Cases {
  margin: 10px 0;
  font-size: 1.7em;
  color: brown;
  font-weight: lighter;
}

i {
  margin-top: 30px;
  font-size: 3em;
  color: rgb(134, 134, 134)
}

@media (max-width: 400px) {
  .CovidData {
    width: 80%;
  }
}
