.News {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #eee;
    text-align: center;
    padding: 10px;
}

h2 {
    font-weight: lighter;
    color: rgb(48, 129, 150);
}


.News div {
    width: 44%;
    height: auto;
    border: 1px solid #ccc;
    margin: 20px 0;
    box-sizing: border-box;
    background-color: rgba(167, 162, 162, 0.336);
    box-shadow: 0 5px 20px 5px #ccc;
}

.News p {
    color: rgb(95, 95, 95);
    font-size: 1.2em;
    padding: 10px;
}

@media (max-width: 500px) {
    .News div {
        width: 100%;
        flex-direction: column;
    }
}
